{% extends "page.j2" %}
{% set page_kicker = '404 / AN UNEXPECTED DETOUR' %}
{% set page_title = 'This one has no solution.' %}
{% set page_desc = 'We couldn’t find that page. A different path might get you where you want to go.' %}
{% block content %}<div class="not-found-actions"><a class="button" href="/">Back to the homepage <svg class="arrow-icon" aria-hidden="true" viewBox="0 0 20 20"><path d="M4 16 16 4M4 4h12v12"/></svg></a><a class="text-link" href="/archive/">Try a real problem instead <svg class="arrow-icon" aria-hidden="true" viewBox="0 0 20 20"><path d="M3 10h14M11 4l6 6-6 6"/></svg></a></div>{% endblock %}
