{% extends "page.j2" %}
{% from "icons.j2" import link_arrow %}
{% set page_kicker = '404 / AN UNEXPECTED DETOUR' %}
{% set page_title = 'This one has no solution.' %}
{% set page_desc = 'We couldn’t find that page. A different path might get you where you want to go.' %}
{% block content %}<div class="not-found-actions"><a class="button" href="/">Back to the homepage {{ link_arrow() }}</a><a class="text-link" href="/archive/">Try a real problem instead {{ link_arrow() }}</a></div>{% endblock %}
