{% extends "page.j2" %}
{% set page_title = "About" %}
{% set page_desc = "ft. our story, faqs, and more" %}
{% block content %}
    <p>
        When you hear the phrase “math competition”, you’ll probably think of an fast-paced,
        high-pressure short-answer test which rewards accuracy, intuition, and speed.
        Although that has its own excitement, at the same time there is something special
        about being able to forget about time and pressure and simply wrestle with a difficult problem,
        staring out the window as you let your mind wander through the craziest ideas before a solution clicks.
    </p>
    <p>
        We have met so many of you out there who are creative and ingenious,
        and can think deeply and rigorously about difficult problems,
        but don’t quite thrive under fast-paced, high-pressure environments.
        Although there are competitions like the USA(J)MO
        which do indeed foster deep and rigorous thinking,
        virtually all of these are only accessible at the highest levels,
        standing behind the walls of short-answer tests such as the AMCs and AIME.
        Our mission is to make these proof-based olympiads accessible to the community.
    </p>
    <h2>What is the format of NC(J)MO?</h2>
    <p>
        There are 5 proof problems with a time limit of 3 hours.
        You are allowed to use writing utensils, erasers, scratch paper, rulers, and compasses.
    </p>
    <h2>Proofs seem hard! Should I take the NC(J)MO?</h2>
    <p>
        First things first, don't be intimidated by the word "proof"!
        Just think about it as a fancy way of saying, "explain your thought process as clearly as you can."
        We encourage you to take the NC(J)MO even if you're inexperienced!
    </p>
    <h2>Should I take the NCMO or NCJMO?</h2>
    <p>
        If you haven't quite explored outside school math,
        or tasted competition math beyond the AMCs, we encourage you to take the NCJMO.
        However, if you've comfortably qualified for the AIME
        or you have experienced with proof writing (e.g. from an advanced math course),
        you should challenge yourself with the NCMO.
    </p>
    <p>
        You can get a feeling of the difficulty from previous years <a href="/archive">here</a>.
    </p>
    <p>
        <strong>Note:</strong>
        For those of you who have heard of the USA(J)MO, the NC(J)MO doesn't correspond in difficulty!
        The NCJMO consists entirely of problems that would be approachable to the general public,
        and the NCMO is similar a USAJMO with a couple easy problems tacked onto the beginning and maybe a banger at the end.
    </p>
{% endblock %}
