{% extends "page.j2" %}
{% set page_title = "Archive" %}
{% set page_desc = "past years" %}
{% block content %}
    <div class="card">
        <h1 class="card-header">2025</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                NCMO 2025
                <span>
                    <a href="/static/2025/NCMO-2025.pdf">(PDF)</a>
                    <a href="https://aops.com/community/c4166369">(AoPS Collection)</a>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                NCJMO 2025
                <span>
                    <a href="/static/2025/NCJMO-2025.pdf">(PDF)</a>
                    <a href="https://aops.com/community/c4167328">(AoPS Collection)</a>
                </span>
            </li>
            <li class="list-group-item">
                <a href="/static/2025/results-solutions-2025.pdf">Results and solutions</a>
            </li>
            <li class="list-group-item">
                <a href="https://aops.com/community/c5h3467015">AoPS Post</a>
            </li>
        </ul>
    </div>
{% endblock %}
