{% extends "base.j2" %}
{% block header %}
    <header class="mb-5 bg-light border-bottom border-secondary border-opacity-25 shadow-sm text-center py-5">
        <div class="container">
            <!-- <img src="/favicon.ico"
      alt="logo"
      width="200"
      height="200"
      class="d-none d-sm-inline mb-3"> -->
            <h1 class="display-1">NC(J)MO</h1>
            <h3>North Carolina (Junior) Math Olympiad</h3>
            <p class="lead">
                An annual proof-based math competition to introduce
                proof-writing to anyone at any stage in their math journey,
                while simultaneously posing difficult problems to challenge the experienced.
            </p>
            <a href="{{ reg_link }}" target="_blank" class="btn btn-accent">Register now!</a>
            <a href="/about" class="btn btn-neutral ms-3">Learn more</a>
        </div>
    </header>
{% endblock %}
{% block main %}
    <h1>Registration for NC(J)MO 2026 is open!</h1>
    <div class="alert alert-warning">
        <b>Important Announcement:</b>
        Due to the unfortunate timing of a heavy snowstorm forecast on January 24th,
        we are moving the sites for Charlotte and the Triangle to an online format.
        The NCSSM site will still be held in person for NCSSM students.
    </div>
    <p>
        Registration remains open until <strong>January 23rd, 2026</strong>.
    </p>
    <p>
        You can read more about the competition <a href="/about">here</a>
        or take a look at our <a href="/archive">past problems</a>.
    </p>
    <p>More details on logistics will be emailed out a week before the competition.</p>
    <h2>North Carolina sites</h2>
    <table class="table table-striped">
        <thead class="table-neutral">
            <tr>
                <th>Site</th>
                <th>Place</th>
                <th>Date</th>
                <th>Time</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Triangle</td>
                <td>Online</td>
                <td>1/24</td>
                <td>9:00 AM – 12:00 PM</td>
                <td>See announcement</td>
            </tr>
            <tr>
                <td>Charlotte</td>
                <td>Online</td>
                <td>1/24</td>
                <td>2:00 PM – 5:00 PM</td>
                <td>See announcement</td>
            </tr>
            <tr>
                <td>NCSSM Durham</td>
                <td>NCSSM Durham</td>
                <td>1/24</td>
                <td>2:00 PM – 5:00 PM</td>
                <td>Available only to NCSSM students</td>
            </tr>
            <tr>
                <td>Online</td>
                <td>Online</td>
                <td>1/25</td>
                <td>1:00 PM - 4:00 PM</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
