{% extends "base.j2" %}
{% block title %}{{ page_title }} | NC(J)MO{% endblock %}
{% block description %}{{ page_desc }}{% endblock %}
{% block header %}
<header class="page-header container">
    <div class="page-header-copy"><h1>{{ page_title }}</h1><p class="page-intro">{{ page_desc }}</p></div>
</header>
{% endblock %}
