{% extends "page.j2" %}
{% set page_title = "Staff" %}
{% set page_desc = "meet the team" %}
{% block content %}
    <h1>Leadership</h1>
    <p>
        Our leadership consists of experienced math olympians from NC.
        In addition to fulfilling our leadership roles, we all write problems to be selected for the tests.
    </p>
    <div class="vstack gap-4 mb-4">
        <div class="card">
            <h3 class="card-header">Alan Cheng, Co-Head of Durham Site</h3>
            <div class="card-body">
                Alan is a junior from Cary, NC and attends the North Carolina School of Science and Math.
                He represented NC at MATHCOUNTS Nationals in 2021 and 2022, placed Top 5 at the NC State Math Contest in 2023 and 2024,
                and was invited to the Math Olympiad Summer Program (MOP) and Canada / USA Mathcamp in 2024.
                Alan is also a nationally acclaimed rock climber.
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Jason Lee, Co-Director</h3>
            <div class="card-body">
                Jason is a homeschooled freshman from Durham, NC.
                Before NCMO, he started the <a href="https://aops.com/community/p29479389">Winter Math Competitions</a> and ran it from 2021 to 2024.
                He also inspired the creation of the <a href="https://aops.com/community/p30801609">Washington Math Olympiad</a>,
                testsolved for <a href="https://benny-w.github.io/ZeMC/">Ze Math Competitions</a>,
                and wrote the power round of the <a href="http://www.explorechina.cn/asdan-maths-tournament/">ASDAN Math Tournament</a> in 2022.
                Outside of math, Jason enjoys music, robotics, mock trial, teaching, and attempting to write.
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Grisham Paimagam, Co-Director and Head of Charlotte Site</h3>
            <div class="card-body">
                Grisham is a sophomore from Charlotte, NC and attends Myers Park High School, where he is the math club head.
                He has been actively participating in math contests for around 3 years, and has recently started math research as well.
                Outside of math, Grisham is an avid squash player and is top 50 for his age group nationally, and loves to play basketball and football for fun.
            </div>
        </div>
        <div class="card">
            <h3 class="card-header">Aaron Wang, Co-Head of Durham Site</h3>
            <div class="card-body">
                Aaron is a junior from Charlotte, NC and attends the North Carolina School of Science and Math.
                He is famous for rederiving the circumcenter of a right triangle in his (correct) in-contest solution
                to <a href="https://aops.com/community/p30227196">USAMO 2024/5</a>, which just so happened to qualify him for MOP.
                Aaron enjoys playing tennis and piano.
            </div>
        </div>
    </div>
    <h1>Test Solvers</h1>
    <p>
        Our test solvers come from many different backgrounds,
        and include MOPpers, NC vets, WAMO staff, and more.
    </p>
    <div class="vstack gap-3">
        <div class="card">
            <h4 class="card-header">Jordan Lefkowitz</h4>
            <div class="card-body">
                Jordan Lefkowitz is a college freshman from Connecticut and attends the Massachusetts Institute of Technology.
                You may have heard of him before.
                (Hint: he competed at the International Math Olympiad.)
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Alex Liu</h4>
            <div class="card-body">
                Alex is a sophomore from Apex, NC and attends Green Level High School.
                He is living proof that playing anime songs can make you first violin of the Triangle Youth Philharmonic.
                Additionally, he is extraordinarily skilled at tetris.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Jiahe Liu</h4>
            <div class="card-body">
                Jiahe is a junior from Ohio and attends Beachwood High School.
                He placed first written at MATHCOUNTS Nationals 2022 and qualified for MOP in 2023 and 2024.
                Jiahe is particularly fond of the blobheart emoji.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Vikram Sarkar</h4>
            <div class="card-body">
                Vikram is a junior from Connecticut and attends the Brunswick School.
                He qualified for MOP 2024 and USA Team Selection for IMO 2025.
                In his free time, Vikram enjoys bashing geometry, playing roblox, and solving algebra or number theory.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Benny Wang</h4>
            <div class="card-body">
                Benny is a junior from Illinois and attends the Phillips Exeter Academy.
                In 2023, he tragically missed MOP by misreading <a href="https://aops.com/community/p27349258">JMO/1</a>,
                but bounced back to qualify for MOP 2024!
                He also founded and directed the aforementioned <a href="https://benny-w.github.io/ZeMC/">Ze Math Competitions</a>,
                and currently writes for <a href="https://exetermathclub.com/">his school's competition</a>.
                Twice a year, Benny solves an AMC problem on <a href="https://www.youtube.com/@confusion5025">his youtube channel</a>.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Laura Wang</h4>
            <div class="card-body">
                Laura is a freshman from Washington and attends the Lakeside School.
                She is a 2024 MATHCOUNTS National Countdown Round Semifinalist and tied for the second highest score at the 2024 Math Prize for Girls.
                Additionally, Laura writes problems for the Washington Math Olympiad.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Oron Wang</h4>
            <div class="card-body">
                Oron is a sophomore from New Jersey and attends the Phillips Exeter Academy.
                His talents include <a href="https://youtube.com/watch?v=x9lE7677ido">improvising on the piano</a>,
                <a href="https://www.youtube.com/watch?v=zteGhJIFqqk">intermediate minesweeper</a>,
                and <a href="https://aops.com/community/h3382222">postmodern geometry</a>.
                He also happened to place 2nd on the USA Team Selection Test Selection Test for IMO 2025.
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Allan Yuan</h4>
            <div class="card-body">
                In 2022, he won MATHCOUNTS Nats.
                In 2023, he made MOP.
                In 2024, he started robbing ankles 😭
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Brian Zhang</h4>
            <div class="card-body">I don't think he needs any introduction. :)</div>
        </div>
    </div>
{% endblock %}
